<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">UTSJR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/mostrar">Mostrar Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/nuevousuario">Nuevo Usuario</a>
          </li> 
        <!-- PRODUCTOS -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/producto/producto">PRODUCTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/producto/nuevoproducto">NEW PRODUCT</a>
          </li>   

          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar Sesión</a>
          </li> 
        <!--  -->  
        </ul>
        <form class="d-flex" role="search">
          <input class="primary" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>




<!-- boostrao, components, navbar, el primer menu copiar,  
linea 3..   UTSJR href: "/"
home: mostrar usuarios href: "/"
link: Nuevo Usuario  href: "/nuevousuario"
borrar 15-28: li a antes de ul
input placeholde= Buscar
class al final primary
button: BUSCAR 
22 lineas -->